.feature{
    background-image: linear-gradient(to right, #111729, #1D1B48);
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
}


.feature:hover{
    /* margin: -10px; */
}

.feature h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.feature p{
    color: #CDD5E0;
    margin: 12px 0;
}

.feature-details{
    display: flex;
    gap: 15px;
    color: #CDD5E0;
}

small{
    align-self: center;
}