.container-features{
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.addRepo{
    color: #4A5567;
    font-size: 16px;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container-details{
        height: fit-content;
    }
    .account-info{
        flex-direction: column;
        gap: 25px;
    }
    .container-features{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

